.menu{
  width: 530px;
  height: 130px;
    top: -130px;
    left: 11rem;
  position: relative;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  display: inline;
  
}
.navi{
  display: inline;
  z-index: 1;
  top: -190px;
    left: -13rem;
}
.nav{
  transition: 0.3s ease;
  
  vertical-align:top;
  padding: 10px;
}
.menu a{
  transition: 0.3s ease;
  
  margin: 40px;
  text-decoration: none;
  color: #381404;
}
.navi a:hover{

  color: #381404;
  background: #D7A99F;
  border-radius: 12px 12px 12px 12px;
  transform: scale(1.2);
  box-shadow: 0px 2px 0px 2px #B19A91;
}
